@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  box-sizing: border-box;
  font: 100% "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}

.btn {
  background-color: #FFF;
  border: 1px solid #A1A1A1;
  border-radius: 8px;
  min-width: 100px;
  padding: 9px 9px;
}

.btn:hover {
  background-color: #dcdcdc;
}

.btn-default {
  background-color: #208CDA;
  border: none;
  color: #FFF;
}

.btn-default:hover {
  background-color: #085685;
}

.btn-subscribe {
  background-color: #73B71B;
  border: none;
  color: #FFF;
}

.btn-subscribe:hover {
  background-color: #477200;
}

.btn-disabled {
  background-color: #A6A6A6;
  border: none;
  color: #FFF;
}

.btn-disabled:hover {
  background-color: #A6A6A6;
}

.btn-danger {
  background-color: #F51D34;
  border: none;
  color: #FFF;
}

.btn-danger:hover {
  background-color: #AB1222;
}

.btn-edit {
  width: 100px;
}

.btn-leave {
  margin-top: 8px;
  width: 128px;
}

nav {
  background-color: #1D1D1D;
  height: 48px;
  width: 100%;
}

.logo-container {
  align-items: center;
  display: flex;
  height: inherit;
  justify-content: center;
}

.logo {
  color: #FFF;
  font-size: 1.5em;
}

.user-name {
  font-size: 1.32em;
  font-weight: bold;
}

.role-label {
  color: #A1A1A1;
}

.fk-title {
  font-size: 1.32em;
  font-weight: bold;
  text-decoration: none;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.fk-section-title {
  font-size: 1.32em;
  font-weight: 600;
}

.fk-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  word-break: break-word;
}

.fk-item {
  background-color: #FFF;
  border: 1px solid #A1A1A1;
  border-radius: 16px;
  box-shadow: 0 0 8px 1px rgba(29, 29, 29, 0.16);
  min-height: 200px;
  max-height: 200px;
  max-width: 630px;
  height: 200px;
  margin-bottom: 32px;
  padding: 16px;
  width: 100%;
}

.fk-item-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.fk-short-desc {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  line-height: 1.2em;
  max-height: 6em;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: justify;
}

.fk-goto {
  display: flex;
  min-width: 100px;
  align-self: flex-end;
}

.student-fk-list a {
  color: #000;
  text-decoration: none;
  font-weight: 600;
}
.student-fk-list a:hover {
  text-decoration: underline;
}

@media only screen and (max-width: 400px) {
  .student-main {
    margin-top: 18px;
  }

  .student-fk-list {
    display: none;
  }

  .student-aside {
    margin: 0 18px;
  }

  .student-aside-panel {
    display: flex;
  }
  .student-aside-panel .all-courses-form {
    flex: 2;
  }
  .student-aside-panel .all-courses-form button {
    width: 100%;
  }
  .student-aside-panel .logout-form {
    margin-left: 8px;
    flex: 1;
  }
  .student-aside-panel .logout-form button {
    width: 100%;
  }

  .fk-container {
    margin-top: 18px;
  }

  .fk-goto {
    align-self: auto;
    display: block;
    min-width: 100%;
    max-width: 100%;
    width: 100%;
  }
  .fk-goto button {
    width: inherit;
  }
}
@media only screen and (min-width: 401px) and (max-width: 960px) {
  .all-courses-form {
    flex: 2;
    min-width: 101px;
  }
  .all-courses-form button {
    width: 100%;
  }

  .student-aside-panel {
    display: flex;
    width: 60%;
    margin: 8px 0;
  }

  .logout-form {
    margin-left: 8px;
    flex: 1;
  }
  .logout-form button {
    width: 100%;
  }

  .student-main {
    display: flex;
    justify-content: center;
    margin-top: 18px;
  }

  .student-main-container {
    display: flex;
    flex-direction: column;
    width: 90%;
  }
  .student-main-container .fk-container {
    margin-top: 18px;
  }

  .student-fk-list {
    display: flex;
    flex-wrap: wrap;
    margin-top: 18px;
    justify-content: center;
  }
  .student-fk-list a {
    background: #FBFBFB;
    border-radius: 8px;
    padding: 8px 6px;
    margin: 8px 6px;
    flex-basis: 150px;
    text-decoration: none;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
}
@media only screen and (min-width: 961px) {
  .fk-item {
    width: 90%;
  }

  .student-main {
    display: flex;
    justify-content: center;
    margin-top: 18px;
  }

  .student-main-container {
    display: flex;
    justify-content: space-between;
    width: 960px;
  }
  .student-main-container .student-aside {
    min-width: 200px;
    max-width: 200px;
    word-break: break-word;
  }
  .student-main-container .fk-container {
    min-width: 700px;
    max-width: 700px;
  }
  .student-main-container .student-aside-panel {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    margin: 6px 0;
  }
  .student-main-container .student-aside-panel button {
    margin: 2px;
  }
  .student-main-container .student-fk-list {
    display: flex;
    flex-direction: column;
  }
  .student-main-container .student-fk-list a {
    margin-bottom: 8px;
  }
}
.login-main {
  /*background: no-repeat center #1D1D1D url("../img/login_background.svg");
  background-size: cover;*/
  background: #1D1D1D;
  min-height: 100vh;
  height: 100%;
  width: 100%;
}

.login-main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  height: 100%;
  width: 100%;
}

.form-title {
  font-size: 1.32em;
  font-weight: bold;
}

.login-form {
  align-self: center;
  display: flex;
  flex-direction: column;
  width: 85%;
}

.input-field {
  border: 1px solid #A1A1A1;
  border-radius: 8px;
  padding: 6px;
}

.field {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 8px 0;
}

.error-message {
  align-self: center;
  color: #F51D34;
  margin-top: 8px;
}

@media only screen and (max-width: 400px) {
  .login-main {
    background: #FFF;
  }

  .login-window {
    align-self: center;
    background-color: #FBFBFB;
    border: 1px solid #A1A1A1;
    border-right: none;
    border-left: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 16px;
    width: 100%;
  }
}
@media only screen and (min-width: 401px) and (max-width: 960px) {
  .login-main {
    background: #1D1D1D;
  }

  .login-window {
    align-self: center;
    background-color: #FFF;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 16px;
    height: 350px;
    width: 400px;
  }
}
@media only screen and (min-width: 961px) {
  .login-window {
    align-self: center;
    background-color: #FFF;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 16px;
    height: 350px;
    width: 400px;
  }
}
a {
  color: #FFF;
  font-weight: bold;
  text-decoration: none;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

a:hover {
  text-decoration: underline;
}

.edit-block {
  margin: 18px 0;
}

.form-area {
  display: flex;
  flex-direction: column;
}

.field-area {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 18px 0 8px 0;
}

.edit-field {
  display: flex;
  flex-direction: column;
  width: 175px;
  max-width: 175px;
}

select {
  background: #FFF;
  border: 1px solid #A6A6A6;
  border-radius: 8px;
  padding: 6px 0;
}

.skipped {
  background: #F51D34;
}

.official {
  background: #F3C64B;
}

.hint {
  align-items: center;
  display: flex;
  height: 30px;
  margin-top: 6px;
}

.hint-text {
  color: #3D3D3D;
  margin-left: 6px;
}

.student-grades {
  margin: 18px 0;
  border-collapse: collapse;
  max-width: 900px;
  max-height: 500px;
  display: block;
  overflow-x: auto;
  overflow-y: auto;
  border-spacing: 0;
  white-space: nowrap;
}
.student-grades .table-cont {
  border: 1px solid #A6A6A6;
  padding: 8px 8px;
  text-align: center;
}
.student-grades .table-head {
  padding: 8px 8px;
  background: #FBFBFB;
  color: #666;
  font-weight: normal;
  position: sticky;
  top: 0;
  text-align: left;
  z-index: 2;
}
.student-grades .left-info {
  background: #FFF;
  box-shadow: 8px 0 8px 0 rgba(29, 29, 29, 0.08);
  position: sticky;
  left: 0;
  max-width: 500px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  z-index: 1;
}
.student-grades .left-info-head {
  box-shadow: 8px 0 8px 0 rgba(29, 29, 29, 0.08);
  position: sticky;
  left: 0;
  max-width: 500px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  z-index: 3;
}

@media only screen and (max-width: 960px) {
  .aside-edit .tabletop-offset {
    margin-left: 8px;
  }
}
@media only screen and (max-width: 960px) {
  .edit-main {
    display: flex;
    flex-direction: column;
  }
  .edit-main .aside-edit {
    display: flex;
    flex-direction: column;
    background: #1D1D1D;
    padding: 18px 18px;
  }
  .edit-main .aside-menu {
    display: flex;
    justify-content: space-between;
    margin: 8px 0;
  }
  .edit-main .aside-menu .form-helper {
    flex: 4;
    visibility: hidden;
  }
  .edit-main .fk-list {
    display: flex;
    flex-wrap: wrap;
    margin-top: 18px;
    justify-content: center;
  }
  .edit-main .fk-list a {
    background: #FBFBFB;
    border-radius: 8px;
    color: #000;
    padding: 8px 6px;
    margin: 8px 6px;
    flex-basis: 150px;
    text-decoration: none;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
  .edit-main .fk-list a:hover {
    text-decoration: underline;
  }
  .edit-main .fk-list .selected-fk {
    background: #A1A1A1;
  }
  .edit-main .edit-info {
    align-self: center;
    display: flex;
    flex-direction: column;
    width: 90%;
  }
}
@media only screen and (min-width: 961px) {
  .edit-main {
    display: flex;
    justify-content: stretch;
    min-height: 100vh;
    height: 100%;
    width: 100%;
  }
  .edit-main .aside-edit {
    background-color: #1D1D1D;
    display: flex;
    flex-direction: column;
    flex-basis: 250px;
    width: 250px;
    max-width: 250px;
    padding: 18px 0 0 0;
  }
  .edit-main .side-profile {
    margin: 0 18px;
    word-break: break-all;
  }
  .edit-main .aside-menu {
    align-self: center;
    display: flex;
    flex-direction: column;
    margin: 4px 0;
  }
  .edit-main .aside-menu form {
    margin: 4px 0;
  }
  .edit-main .aside-menu .form-helper {
    display: none;
  }
  .edit-main .fk-list {
    display: flex;
    flex-direction: column;
  }
  .edit-main .fk-list a {
    padding: 4px 18px;
  }
  .edit-main .fk-list .selected-fk {
    background: #3D3D3D;
    width: 100%;
  }

  .edit-info {
    display: flex;
    width: 100%;
  }
  .edit-info .content-offset {
    display: flex;
    flex: 1;
    flex-direction: column;
    margin: 18px 0 0 18px;
    max-width: 720px;
  }
  .edit-info .edit-yulya {
    display: flex;
    flex: 1.3;
    flex-direction: column;
  }
}
.container-teacher {
  align-items: flex-start;
  margin-top: 18px;
}

@media only screen and (min-width: 401px) and (max-width: 960px) {
  .aside-edit .single-form {
    width: 100%;
  }
  .aside-edit .single-form .logout-form {
    margin: 0;
    max-width: 100px;
  }

  .container-teacher .fk-item {
    max-width: 100%;
  }
}
#create-form {
  display: flex;
  flex-direction: column;
}

#desc {
  resize: none;
  border: 1px solid #A1A1A1;
  border-radius: 8px;
  padding: 6px;
}

.new-field select {
  min-width: 130px;
  max-width: 130px;
}

.date {
  border: 1px solid #A1A1A1;
  border-radius: 8px;
  padding: 6px;
}

@media only screen and (min-width: 961px) {
  .new-field {
    display: flex;
    margin: 8px 0;
  }
  .new-field label {
    align-self: center;
    display: block;
    max-width: 160px;
    width: 160px;
    min-width: 160px;
    text-align: right;
    margin-right: 8px;
  }
  .new-field #name {
    min-width: 200px;
  }
  .new-field #desc {
    min-width: 200px;
    min-height: 125px;
  }
  .new-field .no-align {
    align-self: start;
  }
}
@media only screen and (max-width: 960px) {
  .new-field {
    display: flex;
    flex-direction: column;
    margin: 8px 0;
  }
  .new-field .date {
    min-width: 130px;
    max-width: 130px;
  }
}
.fk-info {
  display: flex;
  flex-direction: column;
  word-break: break-word;
}

.fk-desc {
  margin: 8px 0;
  text-align: justify;
}

.part-info {
  margin: 18px 0;
}

@media screen and (max-width: 400px) {
  .student-main-container .info-container {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  .student-main-container .fk-info {
    width: 90%;
  }
}
@media screen and (min-width: 401px) and (max-width: 960px) {
  .mod-table {
    overflow-y: auto;
    overflow-x: auto;
  }
}
@media screen and (min-width: 961px) {
  .mod-table {
    overflow-y: auto;
    overflow-x: hidden;
  }
}

.helper {
    visibility: hidden;
}

@media screen and (max-width: 400px) {
    .helper {
        display: none;
    }
}

/*# sourceMappingURL=style.css.map */
